.dropdown-menu {
    background: rgba(78,161,73,0.9) !important;
    width: 368px !important;
    position: absolute;
    top: 40px !important;
    list-style: none;
    text-align: start;
    left: auto !important;
    margin-left: 250px;
    padding: 20px;

}

.dropdown-menu::before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #4CA149;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.dropdown-menu li {
    background: rgba(78,161,73,0.1)!important;
    cursor: pointer;
    color: #fff !important;
    text-align: left !important;
    border-bottom: 1px solid #fff;
}

.dropdown-menu li:hover {
    background: #F29A38;
    border-bottom: 1px solid #fff;
}

.dropdown-menu.clicked {
    display: block;
}

.dropdown-menu li a{
    color: #fff;
    text-decoration: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}
