.carousel {
    position: relative;
    z-index: 0;

}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.carousel::after{
        display: block;
        clear: both;
        content: "";
        position: absolute;
        width: 100%;
        overflow: hidden;
        border-radius: 180px 180px 0 0;
        z-index: 100;
        margin-top: -100px;
        height: 100px;
        width: 100%;
        border-top-left-radius: 110px;  /* 100px of height + 10px of border */
        border-top-right-radius: 110px; /* 100px of height + 10px of border */
        border: 10px solid transparent;
        border-bottom: 0;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        background-image:
        linear-gradient(
            #4CA149,
            #4CA149 50%,
            #4CA149
        );

    }

.imgCaro{
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.carousel-indicators > button.active {
    opacity: 1;
    max-width: 14px !important;
    max-height:60px  !important;
    min-width: 14px !important;
    min-height:60px  !important;
    background-color: #fff !important;
    border-color: #fff !important;
    outline: none;
    border: none;
    border-radius: 7px !important;

}

.carousel-indicators button{
    max-width: 14px !important;
    max-height: 14px !important;
    min-width: 14px !important;
    min-height: 14px !important;
    margin: 3px 5px !important;
    border-radius: 7px !important;
    background-color: #4CA14900 !important;
    border: 1px solid #fff !important;
    transition: all .5s linear ;

}

.carousel-indicators button:focus{
        outline:0;
        border-color: #4287BD;
}


.carousel-indicators  {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 0;
    margin-right: 0;
    margin-left: 1vw;
    list-style: none;
    outline: none;
    border: none;
}




.visually-hidden{
    display: none;
}



.carousel-control-next {
    left: 1vw;
    transform: rotate(-91deg);
    position: absolute;
    margin-top: 15% !important;
    justify-content: right !important;
    height: 10px;
    width: 18px !important;
    font-size: 50px;

}
.carousel-control-next::after{
    content: url('../assets/DownArrows.svg');
    color: #fff;
    font-size: 54px;
    z-index: 100;
    right: 0;
    width: 20px;
    height: 80px;
}
@media screen and (max-width:620px){
    .carousel-control-next::after{
        display:none;
    }
}
.carousel-control-prev {
    left: 1.5vw;
    transform: rotate(91deg) !important;
    position: absolute;
    margin-top: 30% !important;
    justify-content: right !important;
    height: 10px;
    font-size: 50px;
    width: 20px !important;
}

.carousel-control-prev::after{
    content: url('../assets/DownArrows.svg');
    color: #fff;
    font-size: 54px;
    z-index: 100;
    right: 0;
    width: 20px;
    height: 80px;
}
@media screen and (max-width:620px){
    .carousel-control-prev::after{
        display:none;
    }
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    color: transparent!important;
}


@media screen and (max-width:620px){
    .carousel-imggs img{
        /* height:1000px !important; */
        transform: translateX(0%) translateY(0%);
      object-fit: contain;
      margin-top:0;
    }
}


.believe{
    position: relative;
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 0 auto;
    top: -80px;
}


.believe h4{
    font-size: 45px;
    font-family: skia;
    color: #fff;
}



.intro-container{
    margin-top: 7rem;
}

.intro-cover{
    display: flex;
    width: 85%;
    margin: 0 auto;
}



.welcome-note{
    flex: 1;
}

.welcome-note label2{
    font-family: monserat;
    font-size: 20px;
    color: #F29A38;
}

.welcome-note h3{
    font-family: skia;
    font-size: 50px;
}

.welcome-note p{
    font-family:monserat ;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}

.welcome-note h4{
    font-family:monseratSemi ;
    margin: 0;
    line-height: 30px;
    font-size: 18px;

}

.welcome-img{
    flex: 1;
    justify-content: flex-end;
    display: flex;
}


.head-teacher-img{
    height: 30rem;
    width: 90%;
    object-fit: contain;
}

.tip-block{
    height: 100px;
    width: 20px;
    position: absolute;
    background-color: #F29A38;
    left: 0;
}



.read{
    font-family:monserat ;
    font-size: 20px;
    text-decoration: none !important;
    color: #4CA149;
    background-color: #fff;
    border: 1px solid #4CA149;
    height: 50px;
    width: 150px;
    transition: all .5s ease;
    margin-top:-40px;
    padding:10px;
}

.read:focus{
    outline:#4CA149 ;
    border: linear-gradient(
        #4CA149,
        #4CA149
    );
    
}

.read:hover{
    background-color: #4CA149;
    color: #fff;
}

.green-line{
    position: absolute;
    border-bottom: 2px solid #4CA149;
    width: 37%;
    left: 30%;
    margin-top: -30px;
}

  .page-trans {
    /* position: absolute; */
    top: 100px;
    left: 0;
    right: 0;
    }

.hooked div{
    transform: rotate(91deg) !important;
    margin: 48px -30px;
}

.search-fixed{
    background-color: #E9BD40;
   
}
.help{
 height: 3rem;
    width: 5rem;
    padding: 20px;
        font-size:10px !important;

}

.enquire-fixed{
    background-color: #191919;
         /* padding: 27px; */

     padding: 20px 0 27px 15px;
       margin-top:-16px !important;
height:3.1rem !important;

}

.apply-fixed{
    background-color: #F29A38;
         padding: 25px 0 27px 15px;
    margin-top:-19px !important;

}

.visit-fixed{
    background-color: #4CA149;
         padding: 25px 0 27px 15px;
    margin-top:-21px !important;
height:3.4rem !important;
    
}

.search-fixed a,.visit-fixed a,.apply-fixed a, .enquire-fixed a{
    color: #ffff;
    font-size: 16px;
    text-decoration:none;
    

}

.hooked-cov{
    position: fixed;
    right: 0;
    display: flex;
    z-index: 100;
    top: 20%;

}


.mission-cont{

}

.mission-cont label2{
    font-size: 15px;
    color: #F29A38;
}


.mission-cont h4{
    font-size: 40px;
    font-family: skia;
    font-weight: 800;
}


.mission-cont p{
    font-size: 20px;
    font-family: monserat;
    width: 70%;
    padding-left: 20px;
}

.disc-img{
    height: 13rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    transition: transform .5s linear;
    border-radius: 10px;

}

.disc-img:hover{
    transform: translateY(-20px);
}

.overlay{
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0;
    transition: 0.5s ease-out;

}

.overlay:hover{
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 1;
}


.disc-head{
    text-align: center;
    /* margin-top: 9rem; */

}

.disc-head h1{
    font-size: 40px;
    font-family: noteworthy;
    color: #fff;
}

.disc-head hr{
    width: 7rem;
    border-bottom: 4px solid #fff;
    border-radius: 92px;
    transform: translateY(-10px);
}

.disc-body{
    padding: 10px 0;
}

.disc-body h4{
    font-family: noteworthy;
    color: #fff;
}

.disc-body p{
    font-family:monserat ;
    color: #fff;
}

.more-news{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}

.more-news > button{
    width: 226px;
    height: 55px;
    background: #4CA149 0% 0% no-repeat padding-box;
    border: 1px solid #4CA149;
    opacity: 1;
    color: #fff;
}

.more-news > button:hover{
   
    background: white no-repeat padding-box;
    border: 1px solid #4CA149;
 
    color: #4CA149;
}
.gallery-cont{
    margin:  5rem 0;
    overflow: hidden;
    /* overflow: ; */
}

.gallery-head{
    text-align: left;
    margin-bottom: 2rem;
    padding-left: 40px;
}

.gallery-head h1{
    font-size: 30px;
    font-family: Skia;
    letter-spacing: 1px;
    font-weight: 900;
    color: #000;
}

.gallery-head label2{
    font-family: monserat;
    color: #F29A38;
}

.gallery-head p{
    font-size: 18px;
}



.gallery{
    margin-top: 5rem;
    height: 30rem;
}




  .text-cover{
    height: 100%;
    background-color: white;
    opacity: 0;
    text-align: center;
    margin: 0 auto;
    transition: .5s ease;
}


.text-cover:hover{
    opacity: .7;
    cursor: pointer;
    text-align: center;
    -webkit-backdrop-filter: blur(5px);
    background-color: #1d191998;
    backdrop-filter: blur(5px);}

.text-cover:hover .text-content{
    opacity: 1;
    color: rgb(255, 255, 255);
    z-index: 1;
}


.text-content{
  position: relative;
  top: 50%;
}

.text-content > i{
    font-size: 30px;
    padding: 0 3px;
}


.gallery tr td{
    border: 0 ;
    padding: 0;
}

/* first */

.join-img{
    width: 100%;
    height: 440px;
}

.join-img::after{
    display: block;
    content: "";
    position: relative;
    width: 100%;
    overflow: hidden;
    /* z-index: 100; */
    margin-top: -100px;
    height: 100px;
    width: 100%;
    border-bottom: 0;
    background-image: linear-gradient( to right, #E9BD40 5%, #65656500);

}

.join-img:hover::after{
    background-image: linear-gradient( to right, #E9BD40 5%, #E9BD40);

}


.join-img img{
    width: 100%;
    object-fit: cover;
    height: 440px;
}
/* second image */

.join-img2{
    width: 100%;
    height: 440px;
}

.join-img2::after{
    display: block;
    content: "";
    position: relative;
    width: 100%;
    overflow: hidden;
    /* z-index: 100; */
    margin-top: -100px;
    height: 100px;
    width: 100%;
    border-bottom: 0;
    background-image: linear-gradient( to right, #E9BD40 5%, #65656500);
    transition: background-image .5ms ease;
}

.join-img2:hover::after{
    background-image: linear-gradient( to right, #E9BD40 5%, #E9BD40);

}


.join-img2 img{
    width: 100%;
    object-fit: cover;
    height: 440px;
}

/* third image */

.join-img1{
    width: 100%;
    height: 440px;
}

.join-img1::after{
    display: block;
    content: "";
    position: relative;
    width: 100%;
    overflow: hidden;
    /* z-index: 100; */
    margin-top: -100px;
    height: 100px;
    width: 100%;
    border-bottom: 0;
    background-image: linear-gradient( to right, #4CA149CF 5%, #65656500 );

}

.join-img1:hover::after{
    background-image: linear-gradient( to right, #4CA149CF 5%, #4CA149CF);

}


.join-img1 img{
    width: 100%;
    object-fit: cover;
    height: 440px;
}


.ing-tag{
    position: relative;
    display: flex;
    z-index: 666;
    padding-left: 40px;
    color: #fff;
    font-family: Skia;
    /* width: 30%; */
    /* justify-content: space-between; */
    /* margin: 0 auto; */
    top: -60px;
}

.ing-tag h4{
    font-weight: 900;
/* z-index:-1; */
}

.swift{
    text-align: center;
    margin: 0 10px;

}

.swift h4 {
    position: relative;
    bottom: -88%;
    height: 0%;
    text-align: center;
    font-size: 37px;
    font-family: 'skia';
    font-weight: 900;
    color: #fff;
}




.our-mission{
    display: flex;
    margin-top: 17rem;
}
.wit{
    flex: .4;
}

.our-miss{
    text-align: left;
    width: 80%;
    margin: 0 auto;
    top: -5rem;
    position: relative;
}

.our-miss label2{
    color: #F29A38;
    margin: 0;
    font-style: 16px;
}

.our-miss h4{
    font-size: 29px;
    font-family: Skia;
    font-weight: 900;
}

.our-miss p{
    font-family: monserat;
    padding: 30px 0 0 30px;
}

.wit2{
    flex: 1;
}

.box-out::after{
    content: '';
    width: 379px;
    height: 126px;
    background-color: #F29A38;
    border: 84px solid #F29A38;
    opacity: 1;
    z-index: -1;
    position: relative;
    left: -20px;
    top: -80px;
}

.box-over::before{
    content: '';
    width: 227px;
    height: 126px;
    background-color: #F29A38;
    border: 121px solid #F29A38;
    opacity: 1;
    z-index: -26;
    position: absolute;
    /* left: -20px; */
    top: -41px;
    right: 0;
}

.yellow-border::before{
    background: #F29A38;
    position: absolute;
    content: '';
    border: 1px solid #F29A38;
    width: 30px;
    height: 10rem;
    right: 0;
    top: 0;
}

.yellow-border::after{
    background: #F29A38;
    position: absolute;
    content: '';
    border: 1px solid #F29A38;
    width: 10rem;
    height: 30px;
    right: 0;
    top: 0;
}


/* .btm-yellow::before{
    background: #F29A38;
    position: relative;
    content: '';
    border-right: 40px solid #F29A38;
    width: 30px;
    height: 10rem;
    left:  0;
    bottom: 0;
} */



.btm-yellow::after{
    background: #F29A38;
    position: relative;
    content: '';
    border-left: 40px solid #F29A38;
    width: 10rem;
    height: 30px;
    left: 0;
    bottom: 0;
}

.marg{
    margin-top: 8rem;
}


@media screen and (max-width: 960px) {

    .carousel-inner {
        height: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .imgCaro{
        width: 100%;
        height: 25rem;
    }

    .marg{
        margin-top: 7rem;
    }

    .intro-cover{
        flex-wrap: wrap;
    }

    .head-teacher-img {
        height: 30rem;
        width: 100%;
    }

    .welcome-note {
        flex: auto;
    }

    .intro-container {
        margin-top: 3rem;
    }

    .welcome-note h3 {
        font-family: noteworthy;
        font-size: 35px;
    }

    .believe {
        position: relative;
        display: flex;
        width: 85%;
        justify-content: space-between;
        margin: 0 auto;
        top: -42px;
    }

    .believe h4 {
        font-size: 26px;
        font-family: skia;
        color: #fff;
    }
    .hooked-cov{
        display: none;
    }

.join-img {
    width: 100%;
    height: 440px;
}

.join-img1 {
    width: 100%;
    height: 440px;
}

.join-img2 {
    width: 100%;
    height: 440px;
}

.carousel-control-prev {
    left: 1vw;
    transform: rotate(91deg) !important;
    position: absolute;
    margin-top: 65% !important;
    justify-content: right !important;
    height: 10px;
    font-size: 50px;
    width: 20px !important;
}

.carousel-control-next {
    left: 1vw;
    transform: rotate(-91deg);
    position: absolute;
    margin-top: 20vh !important;
    justify-content: right !important;
    height: 10px;
    width: 18px !important;
    font-size: 50px;

}

.welcome-img{
    display: none;
}

.mission-cont p {
    font-size: 20px;
    font-family: monserat;
    width: 100%;
    padding-left: 20px;
}

.our-mission {
    display: flex;
    flex-direction: column;
    margin-top: 17rem;
}

.box-over::before {
    content: '';
    width: 27px;
    height: 126px;
    background-color: #F29A38;
    border: 60px solid #F29A38;
    opacity: 1;
    z-index: -26;
    position: absolute;
    /* left: -20px; */
    top: -27px;
    right: 0;
}

.swift h4 {
    position: relative;
    bottom: -88%;
    height: 0%;
    text-align: center;
    font-size: 27px;
    font-family: 'skia';
    font-weight: 900;
    color: #fff;
}

.swift {
    text-align: center;
    margin: 0 2px;
}
}



@media (min-width: 1200px){
    .container{
        max-width: 1580px !important;

    }
     .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1780px !important;
    }
}


.line{
    height:3px;
    width:350px;
    margin-top:-35px;
    /* margin-left:200px; */
    margin-right:-350px !important;
    position:relative;
    z-index:1;

}
.greet p{
    font-size:14px;;
    line-height:26px;
}

@media (max-width: 600px){
    .line{
        display:none !important;

    }

    

   
    }

.circ{
            height:10px !important;

}
 .circle{
        height:90px !important;
        margin-left:-90px;
        margin-top:20px !important
    }


    .down{
        margin-bottom:-150px
    }
    .up{
        margin-top:-75px;
        margin-left:-30px
    }
    .levt{
        margin-left:80px;
        margin-top:-0px !important;
    }

a .read{
       color:red;
   }