
.header-img {
  position: relative;
  display: block;
}

.principals-img{
  width: 431px;
  height: 571px;
  float: left;
  padding: 20px;
}


.house-img{
  width: 840px;
height: 453px;
  float: right;
  padding: 20px;
}


.tour-img{
  display: flex;
  margin-top: 60px;
  position: relative;
}

.header-img img {
    position: relative;
    display: block;
    /* height: 40rem;
    width: 100%; */
    /* object-fit: cover; */
    object-fit: center;
}


.teacher-img img {
    height: 24rem;
    width: inherit;
    object-fit: fill;
}
.note-lists {
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f5f5f569;
}

.note-lists ul {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
}

.note-lists ul li {
  list-style: none;
  text-transform: capitalize;
  margin: 1rem 2rem;
}

.note-lists ul li a {
  color: #191919;
}

.make {
  top: 10%;
}

.intro {
  /* border-bottom: 1px solid rgba(97 94 94 / 23%);  */
  padding-top: 1rem;
}

.intro small {
    text-align: left;
    font: normal normal bold 16px/21px monserat;
    letter-spacing: 5.76px;
    color: #F29A38;
    text-transform: uppercase;
    opacity: 1;
}

.intro header {
  text-align: left;
    font-family: Skia;
    font-size: 45px;
    letter-spacing: -2px;
    font-weight: 500;
    color: #191a1d;
    opacity: 1;
}

.sen{
  margin-top:190px;
}
.bread-crumbs {
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(97 94 94 / 23%);
  align-items: center;
  height: 4rem;
}

.bread-crumbs .bold {
  position: relative;
  margin: 0 10px 0 0;
  /*top: 40%;*/
  text-align: left;
  font-size: 20px;
  font-family: monserat, sans-serif;
  letter-spacing: 0;
  color: #191919;
  opacity: 1;
}

.bread-crumbs ul {
  width: 34%;
  display: flex;
  /*justify-content: space-between;*/
  justify-content: flex-start;
  position: relative;
  margin-bottom: 0;
  /*top: 40%;*/
}

.bread-crumbs ul li {
  list-style: none;
  text-align: left;
  font: 16px monserat;
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
}

.bread-crumbs ul li::after {
  content: "\003e";
  margin: 0 10px;
}


.speech {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.speech  > div{
    min-height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.speech p {
  position: relative;
  display: grid;
  line-height: 32px !important;
  text-align: left;
  font: 20px monserat;
  letter-spacing: 0px;
  color: #191a1d;
  opacity: 1;
  font-family: monserat, sans-serif;
}

.speech strong {
  text-align: center;
  font: normal normal 500 23px/42px monserat;
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
  border-top: 0.5px solid #80808040;

}

.active-link {
  color: #d0136b !important;
}

.card-body {
    border: none !important;
}

.vis-state{
    text-align: left;
    margin-top: 50px;
}

.vis-state h4{
font-family: Skia;
font-size: 30px;
}

.create{
  min-height: 40rem;
}

.create p{
font-family: monserat;
font-size: 14px;
padding-top: 20px;
}

/* @media (min-width: 1200px) {
  .create {
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
    padding-left: 8rem;

  }
} */

.rev{
  margin-top: 30px;
}

.rev h4{
  font-size: 20px;
  color: #F29A38;
  font-weight: 900;
}

.bio{
  font-size: 25px;
  font-family: Skia;
  font-weight: 900;
  margin: 20px 0;
}

.happy {
  font-family: Skia;
  font-size: 27px;
  letter-spacing: -1px;
  font-weight: 900;
  line-height: 4;
}

.sale h4{
  font-weight: 900;
}

.happy1 {
  font-family: Skia;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 900;
  margin: 20px 0 20px 0;
}

.telecont{
  /* display: flex; */
  margin:0 0 50px 0;
}

.telecont div {
  flex: 1;
}

.telecont div h6{
  font-family: Skia;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 900;
}

.telecont div p{
  font-family: monserat;
  font-size: 20px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
}

.breadcrumb{
  position: relative;
  margin: 40px auto;
  width: 95%;
}

.breadcrumb::before{
  content: 'You are here: ';
  font-size: 20px;
}

.breadcrumb-item a{
  color: #191919 !important;
  text-decoration: none;
  font-size: 20px;
}

.breadcrumb-item.active{
  font-size: 20px;

}

/* .sub-cover{
  padding: 20px;
} */

.sub-menu{
  float: right;
  list-style: none;
  padding: 20px 30px;
  background: #F5F5F5;
  min-width: 300px;
}

.sub-menu li{
  background: #F5F5F5;
  padding: 15px 0;
  cursor: pointer;
  color: #191919 !important;
  text-align: left !important;
  border-bottom: 2px solid rgb(206, 205, 205);
}

.sub-menu li a{
  text-decoration: none;
  color: #191919 ;

}

.sub-menu li a.active{
  color: #0E8D3A;
}


@media (max-width: 600px) {
  .sub-cover{
display:none;
  }



.telecont h6{
  /* display: flex; */
  margin-top:30px !important;
}



.happy {
  font-size: 17px;
}
.create img{
  height:200px;
  width:200px;
}

.create p{
  font-size:10px;
}
header{
  font-size:15px !important;
  margin-left:20px !important;
}
small{
  font-size:10px !important;
    margin-left:20px !important;

}
}

@media (max-width: 960px) {
  .header-img img {
    position: relative;
    display: block;
    /* height: 480px;
    width: 100%; */
  }

  .sub-menu{
    width: 100%;
  }

  .note-lists {
    width: 100%;
    height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f5f5f569;
  }

  .note-lists ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-gap: 25px 15px;
    width: 100%;
    text-transform: capitalize;
  }

  .note-lists ul li {
    list-style: none;
    text-transform: capitalize;
    font-size: 10px;
  }

  .bread-crumbs ul {
    width: 24%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 43%;
  }

  .bread-crumbs bold {
    position: relative;
    margin: 0;
    top: 40%;
    text-align: left;
    font: 14px monserat Sans;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
  }

  .bread-crumbs ul li {
    list-style: none;
    text-align: left;
    font: 11px monserat Sans;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    white-space: nowrap;
  }

  .intro header {
    text-align: left;
    font: normal normal normal 30px Lora;
    letter-spacing: 0px;
    color: #191a1d;
    opacity: 1;
  }
  /* .create{
    display:none;
  } */
  
label{
  font-size:14px !important;
}
.hideAcc{
  display:none !important
}
}




@media (min-width: 960px) {
  .flexy{
    display:flex;
  }
  .webhide{
    display:none
  }
}

.shift{
  margin-top:70px;
}






.webhide{
  /* display:flex; */
  margin:0;
  margin-top:-400px
}

.webhide h5{
  margin-top:80px !important
}



/*accordion*/

/* 
input {
    display: none;
}

label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s !important;
}

label:hover {
    background: #4E8774;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}  */




/* 


input {
    display: none;
}

label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

label:hover {
    background: #4E8774;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
	opacity: 0;
	height: 0;
	font-size: 0;
	padding: 0 25px;
	transition: ease .5s;
}

input:checked + label + .content {
	opacity: 1;
	height: 120px;
	font-size: 14px;
	padding: 10px 25px;
}
  */








input {
    display: none;
}

label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: inherit;
    /* border-top:solid 1px grey; */
    color: black;
    transition: ease .5s !important;
    position: relative; /* ADDING THIS IS REQUIRED */
    font-size: 20px;
    font-weight:bold;

}
.last{
      border-bottom:solid 1px grey;

}
label:hover {
    background: inherit;
    color:green;
}

label::after {
    content: '+';
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 2px;
}

input:checked + label::after {
    content: '-';
    right: 14px;
    top: 3px;
}

.content {
    background: inherit;
    padding: 10px 25px;
    border: none;
    margin: 0 0 1px 0;
}
.content p{
  font-size:16px;
}
.content ul li{
  line-height: 37px;
}
.content p{
  line-height: 35px;
}
.accTitle{
  margin-top:100px;
  margin-bottom:30px;
}
.accImg{
  width:100%;
  height:270px;
}
.accImg2{
  width:100%;
  height:170px;

}



input + label + .content {
    /* display: none; */
   opacity: 0;
	height: 0;
	font-size: 0;
	padding: 0 25px;
	transition: ease .5s;

}

input:checked + label + .content {
    /* display: block; */
   opacity: 1;
min-height: 300px !important;
	font-size: 14px;
	padding: 10px 25px;
}

.cir2{
  height: 90px;
  /* margin-bottom:-12px; */
  margin-left:-50px;
  margin-top:-40px
}


.mov{
  margin-top:-0px
}